.history{width:1000px;margin:0 auto;overflow:hidden;padding-bottom:10px;margin-bottom:30px;background:#fff url(../../../static/images/doubleLine.png) bottom repeat-x;}
.tableTitle ul li{height:45px;background:#f6f6f6;float:left;width:249px;text-align:center;line-height:45px;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea;color:#414141;}
.noBorder{border-right:0 !important;}
.tableList ul li{text-align:center;width:249px;height:32px;float:left;border-right:1px solid #eaeaea;color:#414141;line-height:32px;font-size:13px;}
.tableBg{background:#fafafa !important;}
.tableList ul{clear:both;background:#fff;height:32px;}
.select{width:1000px;margin:0 auto;height:67px}
.selectTitle{position:relative;width:167px;height:36px;background:url(../../../static/images/selectTitle.png) no-repeat;margin-top:15px}
.selectTitle span{display:block;line-height:36px;color:#414141;font-size:14px;margin-left:50px;}
.selectList{position:absolute;margin-left:-5px;width:176px;}
.selectTop{height:17px;background:url(../../../static/images/select1.png) no-repeat;}
.selectCenter{overflow:hidden;background:url(../../../static/images/select2.png) repeat-y;}
.selectBot{height:9px;background:url(../../../static/images/select3.png) no-repeat;}
.selectCenter ul li {height:36px;border-bottom:1px dashed #efefef;}
.selectCenter ul li a{display:block;height:36px;line-height:36px;color:#414141;text-align:center;}
.selectCenter ul li:last-child{border-bottom:0px;}
.selectCenter ul li a:hover{background:#f6f6f6;margin:0 5px;}
