:global {
  @import 'base';
  @import 'vendor/normalize';
  // @import 'antd/style/index.less';
  // @import 'antd/lib/index.css'

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }
  .ant-modal {
    z-index: 99999
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .lottery0{
    td {
      >div {
        background: red;
        animation:autoHeight 2s infinite;
        -webkit-animation:autoHeight 2s infinite;
      }
    }
  }

  @keyframes autoHeight
  {
    from {height:0px;}
    to {height:39px;}
  }


  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
