:global {
  @import 'base';
  @import 'vendor/normalize';
  // @import 'antd/dist/antd.css'
  // @import 'antd/style/index.less';
  // @import 'antd/lib/index.css'

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }
  .ant-modal {
    z-index: 99999
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  // .lottery0{
  //   td {
  //     // padding : 1px  !important;
  //     >div {
  //       animation:myfirst 5s;
  //     }
  //   }
  // }



  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
