.account{width:1000px;background:#fff;overflow:hidden;margin:0 auto;padding-bottom:50px;margin-top:30px;background:#fff url(../../static/images/doubleLine.png) bottom repeat-x;}
.accountList{background:url(../../static/images/accountLine.png) repeat-y;overflow:hidden;margin-top:30px;}
.accountImg {margin-left:34px;width:50px;float:left;margin-bottom:30px;}
.accountTitle{margin-top:10px;}
.accountTitle{font-weight:bold;color:#414141;font-size:14px;}
.accountTitle span{color:#509c1d;}
.accountList{}
.accountRight{float:left;width:863px;}
.accountRight span{display:block;color:#4d4d4d;font-size:12px;background:#f0f0f0;border:1px solid #d5d5d5;padding:20px;line-height:24px;}
.accountRight em{color:#e47000;font-size:15px;display:block;margin-top:10px;margin-bottom:10px}
.accountRight img{margin-bottom:10px;}
.clear {
    clear: both;
}
