.buttonWrap{
  width : 300px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ccc;
  border-radius: 15px;
  >div{
    text-align: center;
    span{
      display: inline-block;
      width: 150px;
      font-size: 20px;
      // padding : 5px 15px;
      height : 36px;
      line-height: 36px;
      text-align: center;
      border-radius:4px;
      // background : #118146;
      background: #293354;
      color : #fff;
      margin-bottom: 15px;
      cursor: pointer;
      box-shadow: 3px 3px 10px #333;
    }
  }
}
