.footerBg{height:102px;background:#1c1c1c;}
.footer{width:1000px;margin:0 auto;}
.footerInfo{width:410px;float:left;font-size:12px;}
.footerInfo p{height:45px;margin-top:10px;line-height:45px;background:url(../../static/images/footerLine.png) bottom repeat-x;color:#515151;}
.footerInfo em{color:#515151;margin-top:10px;display:block;}
.footerInfo p img{float:left;margin-top:12px;margin-right:5px}
.footerLogo{width:250px;float:right;}
.footerLogo img{margin-top:20px;}
